<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="OutputHelper" class="org.spring.ioc.test4.OutputHelper">
		<constructor-arg>
		<!-- 
			<bean class="org.spring.ioc.impl.JsonOutputGenerator" />
		 -->
		 <!-- 
		 <ref local="JsonOutputGenerator"/>
		 -->
		 <ref bean="JsonOutputGenerator"/>
		  
		</constructor-arg>
	</bean>
	
<bean id="CsvOutputGenerator" class="org.spring.ioc.impl.CsvOutputGenerator" />
<bean id="JsonOutputGenerator" class="org.spring.ioc.impl.JsonOutputGenerator" />
		
</beans>