<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="CustomerBean" class="org.spring.innerbean.Customer">
		<constructor-arg>
			<bean class="org.spring.innerbean.Person">
				<property name="name" value="ccc" />
				<property name="address" value="address3" />
				<property name="age" value="3" />
			</bean>
		</constructor-arg>
	</bean>
</beans>